/* Styles pour le site web */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #333; /* Fond gris foncé */
}

header {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

.logo img {
    height: 50px; /* Ajuste la taille du logo selon tes besoins */
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    margin-left: 20px;
}

nav a {
    color: #1e90ff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #87cefa;
}

.hero, .info, .about, .team, .contact {
    text-align: center;
    padding: 50px 20px;
}

.container {
    width: 80%;
    margin: auto;
}

footer {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
